<!DOCTYPE html>
<html>

{% include head.html %}
<body>
	<div class="container">
		{% include header.html %}
		
		<div class="row">
			<div class="col-md-9">
				{{ content }}
			</div>
			<div class="col-md-3">
				sidebar
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% include footer.html %}
			</div>
		</div>
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>

</html>
